<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120811151908-7gpbid19vl17h2kcd18r1d7rap16vcuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120811151908-7gpbid19vl17h2kcd18r1d7rap16vcuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBpVnfpICr5WrdRZO3GKMNE2deOZ5329yE</string>
	<key>GCM_SENDER_ID</key>
	<string>120811151908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ucsMdy</string>
	<key>PROJECT_ID</key>
	<string>ucs-mdy</string>
	<key>STORAGE_BUCKET</key>
	<string>ucs-mdy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120811151908:ios:fb9fbb8a5b9fbf900daeb1</string>
</dict>
</plist>